* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 21px;
}

.promo .promo_text {
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
    padding: 0 13px;
}

.promo .promo_text span {
    font-family: "Roboto - Bold";
    color: #f9bf3b;
    font-weight: 700;
}

.promo .promo_btn, .promotion .promotion_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    max-width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding: 0 20px;
}

.promotion .promotion_btn {
    margin-top: 52px;
}

.more {
    margin-top: 73px;
}

.more_text {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting  .waiting_header, .finish .finish_header {
    font-size: 30px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
    font-weight: 400;
}

.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_devider {
    display: block;
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
    font-weight: 400;
}

.waiting .waiting_wraper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wraper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wraper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wraper .waiting_item .waiting_descr {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #4a4a4a;
    margin-top: 33px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-size: 29px;
    font-weight: 900;
    color: #299cbd;
    text-transform: uppercase;
}

.optimization .optimization_text {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #4a4a4a;
    margin-left: 391px;
    margin-top: 25px;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
    max-width: 100%;
}

.finish {
    min-height: 447px;
    padding: 85px 0 79px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wraper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wraper .finish_item {
    width: 204px;
}

.finish .finish_wraper .finish_item .finish_round {
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.finish .finish_wraper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #efefef;
}

.promotion {
    padding: 86px 0;
    min-height: 628px;
    background-color: #efefef;
}

.promotion .promotion_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1127px
}

.promotion .promotion_item .promotion_img {
    max-width: 100%;
}

.promotion .promotion_item .promotion_text {
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    margin-top: 42px;
    font-weight: normal;
}

.firstWebinar {
    padding: 82px 0 65px 0;
    min-height: 515px;
}

.firstWebinar .firstWebinar_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstWebinar .firstWebinar_img {
    max-width: 100%;
}

.firstWebinar .firstWebinar_title {
    font-size: 30px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
    margin-top: 37px;
}

.firstWebinar .firstWebinar_date {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #299cbd;
    text-transform: uppercase;
    margin-top: 30px;
}

.firstWebinar .firstWebinar_subtitle {
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 25px;
    font-weight: 300;
}

.info {
    display: flex;
    background-color: #1a1a1a;
    min-height: 166px;
    justify-content: center;
    align-items: center;
}

.info .info_wraper {
    display: flex;
    justify-content: center;
}

.info .info_wraper, .info .info_suport, .info .info_policy, .info .info_phone {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding: 0 5px;
}

.info .info_wraper .info_suport {
    border-right: 1px solid #888888;
}

.info .info_phone a {
    text-decoration: none;
}

a {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #888888;
    line-height: 21px;
}

@media(max-width: 1024px) {
    .title {
        font-size: 30px;
    }

    .promo .promo_text {
        font-size: 18px;
    }

    .waiting .waiting_wraper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .waiting .waiting_wraper .waiting_item {
        margin: 70px 15px 0 15px;
    }

    .waiting .waiting_wraper .waiting_item .waiting_descr {
        margin-top: 10px;
    }

    .optimization .optimization_header, .optimization .optimization_text {
        margin-left: 300px;
        margin-right: 10px;
    }

    .finish .finish_wraper {
        flex-wrap: wrap;
    }
}

@media(max-width: 568px) {
    .title {
        font-size: 20px;
    }

    .simple .title_big {
        font-size: 50px;
    }

    .promo .promo_text {
        font-size: 12px;
    }

    .waiting  .waiting_header, .finish .finish_header {
        font-size: 25px;
    }

    .waiting .waiting_subheader {
        font-size: 20px;
    }

    .finish .finish_wraper {
        justify-content: center;
    }

    .finish .finish_wraper .finish_item {
        margin-top: 50px;
    }

    .optimization {
        padding: 50px 0;
    }

    .optimization .optimization_header {
        font-size: 20px;
    }

    .optimization .optimization_text {
        font-size: 15px;
    }

    .optimization .optimization_header, .optimization .optimization_text {
        margin: 0 0 0 100px;
        text-align: right;
    }

    .optimization .optimization_text {
        margin-top: 20px;
    }

    .optimization .optimization_img {
        margin-top: 50px;
    }

    .promotion .promotion_item .promotion_text {
        font-size: 20px;
    }

    .firstWebinar .firstWebinar_title  {
        font-size: 20px;
    }

    .firstWebinar .firstWebinar_date {
        font-size: 25px;
    }

    .firstWebinar .firstWebinar_subtitle {
        font-size: 18px;
    }

    .info .info_phone {
        margin-top: 20px;
    }

    .info .info_phone a {
        font-size: 15px;
    }

    a {
        font-size: 12px;
    }
}

